{% extends '@ShopsysFramework/Admin/Grid/Grid.html.twig' %}

{% block grid_value_cell_id_startTime %}
    {{ value|formatDateTime }}
{% endblock %}

{% block grid_value_cell_id_endTime %}
    {% if value %}
        {{ value|formatDateTime }}
    {% else %}
        -
    {% endif %}
{% endblock %}

{% block grid_value_cell_id_status %}
    {% if value == 'success' %}
        <span class="badge badge-success">{{ value|trans }}</span>
    {% elseif value == 'error' %}
        <span class="badge badge-danger">{{ value|trans }}</span>
    {% elseif value == 'running' %}
        <span class="badge badge-warning">{{ value|trans }}</span>
    {% else %}
        <span class="badge badge-secondary">{{ value|trans }}</span>
    {% endif %}
{% endblock %}

{% block grid_value_cell_id_errorMessage %}
    {% if value %}
        <span class="text-danger">{{ value }}</span>
    {% else %}
        -
    {% endif %}
{% endblock %}

{% block grid_value_cell_id_recordsChanged %}
    {% if value %}
        {{ value }}
    {% else %}
        -
    {% endif %}
{% endblock %}
